input, button, label {
  margin-top: 10px;
}
H2{
  text-align: center;
  font-size: 40px;
}
.center{
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  margin-bottom: 50px;
  width: 900px;
}
td,th{
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 20px;
}
tr:nth-child(even){
  background-color: #f2f2f2;
}
tr:hover{
  background-color: #ddd;
}
th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #FC6C85;
  color: black;
}
button{
  display: inline-block;
  padding: 5px 15px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #FC6C85;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 5px;
  margin-right: 15px;
}
button:hover{
  background-color:  #FC8EAC;
}
button:active{
  background-color: #FC8EAC;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
label{
  font-size: 20px;
}
